<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="/images/brainstorm_logo.png" alt="Brainstorm Paradise Logo" class="logo-img">
            <h1 class="logo-title">Brainstorm Paradise</h1>
        </div>
        <h1>Error</h1>
    </header>
    <main>
        <h2><%= message %></h2>
        <a href="/" class="btn btn-home">Go to Home</a>
    </main>
    <!-- <footer>
        <p>&copy; 2023 Brainstorm Paradise</p>
    </footer> -->

    <script src="/javascripts/main.js"></script>
</body>
</html>
